################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wcfTest/obj/Debug
/wcfTest/bin/Debug
/wcfTest/.vs/wcfTest/v15
/consoleTest/obj/Debug
