################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wcfTest/obj/Debug
/wcfTest/bin/Debug
/wcfTest/.vs/wcfTest/v15
/consoleTest/obj/Debug
/.vs
/consoleTest/bin/Debug
/consoleTest/obj/Release
/wcfTest/obj/Release
/wcfTest/packages/Newtonsoft.Json.11.0.2
/JustAnotherWindowService/obj
/JustAnotherWindowService/bin/Debug
/SomeWebSite/.vs
/SomeWebSite/WebService1/bin
/SomeWebSite/WebService1/obj/Debug
/SomeWebSite/WebService1/WebServices.csproj.user
/WebService1/bin
/WebService1/obj/Debug
